


.container {
    background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235, 249, 255, 1) 100%);
    padding-top:  8.8rem;
    height: 25rem;
    
}


.about {
    width: 100%;
    background-color: #fff;
    padding: 5px 0;
    margin-bottom: -12px;

}


/* about me */
h1  {  
    margin-top: -40px;
    font-size: 30px;
    width: 100%;
    margin-bottom: -5px;
    margin-left: 10px;
    color:  #971561;
    height: 10x; 
    max-width:  20px auto;  
    line-height: 1.6;
    
        
}
 

.about-img {
  
    width: 90hv;
    height: 10px;
    margin-left: 5px;
    float: left;
    clip-path: inset;

}

@media only screen and (max-width 768px) {
    about-img {
        height: 120%   
     }
}


.about-info {
    text-align: center;
    color:#971561;
    font-size: 20px;
    
}


.about-content p {
    font-size: 20px;    
    color: black;       
    margin: 15px;
    text-align: left;
    margin-left: 400px;
    line-height: 32px;
}
