
.about {
    padding: 5px 0;
    max-width: 1000px;
    margin: 0 auto;
}


.container {   
    background: #EEF7FF;    
    
}


   /* h2 */ 
.about-title h2 {    
    font-size: 54px;    
    color: #971561;    
    text-align: center;  
    margin-bottom: -9px;    
}


      /* p */
.about-content  {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
    line-height: 29px;
    width: 100%;
    border-style: solid;
    border-width: 11px;
    border-color:   #0fdbff;
}


.about-img  {
    object-fit: contain;  
}

.about-content p {
    padding-left:  23px;
}

@media only screen and (max-width:600px) {
    .about-content {        
        flex-direction: column;
    }

    .about-content .about-img {
        width: 100%;
        margin: 0 auto;        
    }
}


  /* language skills */
.about-skills {
    width: 100%;
    padding: 1em;
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
}


.skills-icon  {    
    font-size: 60px;
}


.skills-icon-canva  {
    font-size: 60px;
    background-color: aqua;  
}


.skills-icon-github  {
    font-size: 18px;
    margin-top: 18px;
}


.skills-icon-git  {
    font-size: 30px;
    margin-top: 12px;
}





