

.about {
    width: 100%;   
}


.container {   
    background: #EEF7FF;    
}


   /* h2 */ 
.about_title  {
    font-size: 20px;
    margin-bottom: 5px;
    color: #971561;
}

      /* p */
.about_content  {
    font-size: 22px;   
    line-height: 1.3;  
    color: #7d7789;    
}


.about_img  {
    width: 114vh; 
    position: relative;
    display: inline;
    float: left;   
}


@media only screen and (max-width:960px) {
    .about_img {        
        float: none;
        height: 300px;
        object-fit: contain;
    }

    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    h1 {
        font-size: 30px;
    }
}


