
.footer {
    width: 100%;  
    height: 100px;  
    background:linear-gradient(20deg, #080334, #770666);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 320px;
}


.socialMedia  {
    width: 130px;
    height: 20px;
    color: white;
    margin: 15px;
    margin-bottom: 1px;  
    cursor: pointer;
        
    font-size: 65px;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.footerIcon1:hover {
    color:#2481f3;
   
}

.footerIcon2:hover  {
    color: #7400b8;
}

.footerIcon3:hover  {
    color: #EA4335;
}

.footer p  {
    font-size: 14px;   
    padding-top: 26px;   
    color: white;  
    margin: -8px; 
    font-family: 'Lato', sans-serif;
}


@media only screen and (max-width: 600px) {
    .footer {
        font-size: 50px;
    }
}


