

 h2 {
    color: #7d7789;  
    font-weight: 300; 
    font-size: 60px;
    margin: 30px;
}


 h1 {    
    font-weight: 700;
    margin: 30px;      
    color: #823d78; 
    font-size: 85px;
    font-weight: 700;
}


.home-main p {
    font-size: 25px;
    line-height: 40px;
    color: #7d7789;
    margin: 30px;
}


.home-img {
   clip-path: circle();  
   shape-outside: circle();
   float: right;   
}


.home-main  {
    max-width: 1000px;
    margin: 0 auto;
}



@media only screen and (max-width:960px) {
    .home-img {        
        float: none;
        height: 300px;
        object-fit: contain;
    }

    .home-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 60px;
    }
}






