
.navbar {    
    width: 100%;
    background:linear-gradient(20deg, #080334, #770666);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-logo {
    height: 83px;
    margin: 5px;
    display: flex;
}



.links :hover {
    color:  #0fdbff;
}

/* styling the Links */
.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}



   /*Hamburger Menu*/
.toggleButton button {
    font-size: 2.3em;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer; 
}

/*
#open  {
    height: 100vh;
}
  */


#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}



#open a {
    width: 100%;
    text-align: center;
}


@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;     
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton button {
        display: flex;
    }
    
    #close a {
        display: none;
    }
}

.hiddenLinks {
    display: none;
}

#open {
    height: 100px;
}

#open .links {
    flex-direction: row;
}





    

