
.project  {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  .project h1  {
    margin: 3px;
    font-size: 25px;
    text-decoration-line: underline;
    text-decoration-color: #0fe3ff;  
    color:  #82076d;    
  }


  .project img  {
    width: 600px;
    height: 500px;
    border-radius: 10px;
  }

  
  .project p  {
    font-size: 20px;
    margin: 3px;
    color: #82076d; 
  }
  
  
  .project p span {
    color: #7d7789;  
    font-size: 20px;
  }


  .gitIcon2  {
    font-size: 45px;    
  }


  .gitIcon2:hover {
    background-color: #c41ade;
    width: 45px;
    height: 45px;
    border-radius: 25px
  }


 
   
  



