

.skills {
    width: 100%;
    padding: 100px 0;    
}


h2  {
    font-size: 35px;
    color: #9800D2;
    padding: 2px
}



.list {
    font-size: large;
    padding: -55px;
    width: -55px;
    size: -5px;  
}

